<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>df, world!</title>
  </head>
  <body>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Coming Soon</h1>
          <p class="lead">Start planning for your gaming future with this handy list..</p>
        </div>
      </div>    
      




      <div class="container">
        <div class="page-header text-center">
            <h1 id="timeline">game releases 2020</h1>
        </div>
        <ul class="timeline">
            <li>
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="" />
                  
                </div>
                <div class="timeline-body">
                  <h3>Cook, Serve, Delicious! 3?!</h3>
                  <p>Cook, serve and manage your food truck as you dish out hundreds of different foods across war-torn America in this massive sequel to the million-selling series!.</p>
                  
                </div>
                
                <div class="timeline-footer">
                    <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a><i class="glyphicon glyphicon-share"></i></a>
                    <a class="pull-right">Available Oct 14, 2020</a>
                </div>
              </div>
            </li>
            
            <li  class="timeline-inverted">
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading" style="width: 3rem;">
                  <img class="img-responsive" src="" />
                  
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                 
                </div>
                
                <div class="timeline-footer">
                    <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a><i class="glyphicon glyphicon-share"></i></a>
                    <a class="pull-right">Available Oct 15, 2020</a>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading"  style="width: 3rem;">
                  <img class="img-responsive" src="http://lorempixel.com/1600/500/sports/2" />
                  
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  
                </div>
                
                <div class="timeline-footer">
                    <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a><i class="glyphicon glyphicon-share"></i></a>
                    <a class="pull-right">Continuar Lendo</a>
                </div>
              </div>
            </li>
            
            <li  class="timeline-inverted">
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  
                </div>
                
                <div class="timeline-footer">
                    <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a><i class="glyphicon glyphicon-share"></i></a>
                    <a class="pull-right">Continuar Lendo</a>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="http://lorempixel.com/1600/500/sports/2" />
                  
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  
                </div>
                
                <div class="timeline-footer">
                    <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a><i class="glyphicon glyphicon-share"></i></a>
                    <a class="pull-right">Continuar Lendo</a>
                </div>
              </div>
            </li>
            
            <li  class="timeline-inverted">
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="http://lorempixel.com/1600/500/sports/2" />
                  
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  
                </div>
                
                <div class="timeline-footer primary">
                    <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a><i class="glyphicon glyphicon-share"></i></a>
                    <a class="pull-right">Continuar Lendo</a>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-body">
                  <p><b>All the credits go to <a href="http://bootsnipp.com/rafamaciel">Rafamaciel</a></b></p>
                  <p>I only make it responsive and remove the empty spaces to be more like Facebook timeline!</p>
                </div>
                
                <div class="timeline-footer primary">
                    <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a><i class="glyphicon glyphicon-share"></i></a>
                    <a class="pull-right">Continuar Lendo</a>
                </div>
              </div>
            </li>
            
            <li class="clearfix" style="float: none;"></li>
        </ul>
    </div>
    <script>
      
    </script>
  



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>





























